[submodule "vendor/logging"]
	path = vendor/logging
	url = https://github.com/smartel99/embedded_logger
[submodule "vendor/cmbacktrace"]
	path = vendor/cmbacktrace
	url = https://github.com/smartel99/CmBacktrace.git
[submodule "vendor/CANopenNode"]
	path = vendor/CANopenNode
	url = https://github.com/CANopenNode/CANopenNode
